.about-description {
  @each $key, $value in $theme {
    @if map-has-key($config, $key) {
      .#{$value} & {
        background: setStyle($config, $key, second);
        padding: 30px 0 50px 0px;
        article{
          p{
            color: #FFF;
            // text-align: center;
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 15px;
          }
          li, span{
            color: #FFF;
            font-size: 18px;
          }
          ul{
            margin-top: 20px;
          }
        }
        .section-devider {
          //position: absolute;
          top: -50px;
          height: 120px;
          z-index: 1;
          &:before {
            content: none;
          }
          &:after {
            background: setStyle($config, $key, second);
            border-bottom: none;
            border-top: 10px solid setStyle($config, $key, shadow);
            height: 120px;
            top: initial;
            bottom: 17px;
            @include transform(translate(-50%, 50px) rotate(1deg));
          }
        }
        .container {
          position: relative;
          z-index: 1;
        }
      }
    } @else {
			@warn "The key ´#{$key} isn’t defined in the map $config´"
		}
	}
}
